<div class="row">
    <div class="container-fluid">
      <div class="gallery">
        <div class="col-sm-4">
          <div class="pull-right">
            <img ng-repeat="photo in photos" class="main" ng-show="isImageActive($index)" ng-src="{{photo.src}}">
          </div>
        </div>
        <div class="col-sm-8">
          <img ng-repeat="photo in photos" class="" ng-src="{{photo.src}}" ng-click="showSelect($index)">
        </div>
        <span class="gallery-arrow prev" ng-click="showPrev()"><i class="fa fa-step-backward"/></span>
        <span class="gallery-arrow next" ng-click="showNext()"><i class="fa fa-step-forward"/></span>
      </img>
      </div>
    </div>
</div>
