<div class="row">
  <div class="col-sm-9">
    <ui-gmap-google-map center="map.center" zoom="map.zoom "events="map.events"
      options="map.options" refresh="true" events="map.events" control="map.control">
      <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" >
        <ui-gmap-windows show="show">
            <div ng-non-bindable>
              <img class="map-img" src="{{imgUrl}}"/>
            </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>

  <div class="col-sm-3">
    <div class="container-fluid">
      <ul ng-repeat="z in zones">
        <b><u>{{z}}</u></b>
        <li class="list-unstyled" ng-repeat="marker in markers | filter: zone=z ">
          <i class="fa fa-tree"></i>
          <a ng-click="centerOnMarker(marker)">{{marker.title}}</a>
        </li>
      </ul>
      <!--{{map.center}}
      {{markers}} -->
    </div>
  </div>

</div>
<br/>
